@tailwind border

.login-center {
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
border: 3px solid rgb(16, 132, 240);
}

.login-center input[type~="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-center input[type="submit"] {
    width: 10%;
    background-color: #0e95e2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  }